.grid-container {
  width: 100%;
  padding: 5px 3px;
  margin: -186px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  img.card-img-top {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    margin-top: -70px;
  }

  .map.container {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 375px) {
  .grid-container { grid-template-columns: 1fr; }
}
